/* pixels/s vertical */
/* pixels/s horizontal */
/* max pixels */
/**/
html {
  background: #223232;
  min-height: 100vh;
}

html::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640px 480px' width='640px' height='480px'>   %3Cstyle> circle { r: 3.5px; } %3C/style>   %3Cg fill='%239098a0'> %3Ccircle cx='689.5px' cy='115.5px' /> %3Ccircle cx='689.5px' cy='423.5px' /> %3Ccircle cx='633.5px' cy='143.5px' /> %3Ccircle cx='612.5px' cy='17.5px' /> %3Ccircle cx='605.5px' cy='227.5px' /> %3Ccircle cx='584.5px' cy='213.5px' /> %3Ccircle cx='542.5px' cy='269.5px' /> %3Ccircle cx='542.5px' cy='437.5px' /> %3Ccircle cx='528.5px' cy='185.5px' /> %3Ccircle cx='521.5px' cy='507.5px' /> %3Ccircle cx='507.5px' cy='3.5px' /> %3Ccircle cx='465.5px' cy='143.5px' /> %3Ccircle cx='451.5px' cy='199.5px' /> %3Ccircle cx='444.5px' cy='241.5px' /> %3Ccircle cx='73.5px' cy='129.5px' /> %3Ccircle cx='416.5px' cy='549.5px' /> %3Ccircle cx='402.5px' cy='325.5px' /> %3Ccircle cx='402.5px' cy='73.5px' /> %3Ccircle cx='388.5px' cy='129.5px' /> %3Ccircle cx='374.5px' cy='213.5px' /> %3Ccircle cx='255.5px' cy='283.5px' /> %3Ccircle cx='248.5px' cy='437.5px' /> %3Ccircle cx='241.5px' cy='199.5px' /> %3Ccircle cx='220.5px' cy='129.5px' /> %3Ccircle cx='220.5px' cy='409.5px' /> %3Ccircle cx='206.5px' cy='493.5px' /> %3Ccircle cx='206.5px' cy='381.5px' /> %3Ccircle cx='164.5px' cy='199.5px' /> %3Ccircle cx='129.5px' cy='395.5px' /> %3Ccircle cx='108.5px' cy='297.5px' /> %3Ccircle cx='94.5px' cy='45.5px' /> %3Ccircle cx='66.5px' cy='521.5px' /> %3Ccircle cx='66.5px' cy='409.5px' /> %3Ccircle cx='87.5px' cy='479.5px' /> %3Ccircle cx='38.5px' cy='262.5px' /> %3Ccircle cx='38.5px' cy='325.5px' /> %3Ccircle cx='192.5px' cy='17.5px' /> %3Ccircle cx='31.5px' cy='451.5px' /> %3Ccircle cx='24.5px' cy='45.5px' />   %3C/g>%3C/svg>"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640px 480px' width='640px' height='480px'>   %3Cstyle> circle { r: 3.5px; } %3C/style>   %3Cg fill='%23757f85'> %3Ccircle cx='689.5px' cy='115.5px' /> %3Ccircle cx='689.5px' cy='423.5px' /> %3Ccircle cx='633.5px' cy='143.5px' /> %3Ccircle cx='612.5px' cy='17.5px' /> %3Ccircle cx='605.5px' cy='227.5px' /> %3Ccircle cx='584.5px' cy='213.5px' /> %3Ccircle cx='542.5px' cy='269.5px' /> %3Ccircle cx='542.5px' cy='437.5px' /> %3Ccircle cx='528.5px' cy='185.5px' /> %3Ccircle cx='521.5px' cy='507.5px' /> %3Ccircle cx='507.5px' cy='3.5px' /> %3Ccircle cx='465.5px' cy='143.5px' /> %3Ccircle cx='451.5px' cy='199.5px' /> %3Ccircle cx='444.5px' cy='241.5px' /> %3Ccircle cx='73.5px' cy='129.5px' /> %3Ccircle cx='416.5px' cy='549.5px' /> %3Ccircle cx='402.5px' cy='325.5px' /> %3Ccircle cx='402.5px' cy='73.5px' /> %3Ccircle cx='388.5px' cy='129.5px' /> %3Ccircle cx='374.5px' cy='213.5px' /> %3Ccircle cx='255.5px' cy='283.5px' /> %3Ccircle cx='248.5px' cy='437.5px' /> %3Ccircle cx='241.5px' cy='199.5px' /> %3Ccircle cx='220.5px' cy='129.5px' /> %3Ccircle cx='220.5px' cy='409.5px' /> %3Ccircle cx='206.5px' cy='493.5px' /> %3Ccircle cx='206.5px' cy='381.5px' /> %3Ccircle cx='164.5px' cy='199.5px' /> %3Ccircle cx='129.5px' cy='395.5px' /> %3Ccircle cx='108.5px' cy='297.5px' /> %3Ccircle cx='94.5px' cy='45.5px' /> %3Ccircle cx='66.5px' cy='521.5px' /> %3Ccircle cx='66.5px' cy='409.5px' /> %3Ccircle cx='87.5px' cy='479.5px' /> %3Ccircle cx='38.5px' cy='262.5px' /> %3Ccircle cx='38.5px' cy='325.5px' /> %3Ccircle cx='192.5px' cy='17.5px' /> %3Ccircle cx='31.5px' cy='451.5px' /> %3Ccircle cx='24.5px' cy='45.5px' />   %3C/g>%3C/svg>"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640px 480px' width='640px' height='480px'>   %3Cstyle> circle { r: 3.5px; } %3C/style>   %3Cg fill='%234e5b5e'> %3Ccircle cx='689.5px' cy='115.5px' /> %3Ccircle cx='689.5px' cy='423.5px' /> %3Ccircle cx='633.5px' cy='143.5px' /> %3Ccircle cx='612.5px' cy='17.5px' /> %3Ccircle cx='605.5px' cy='227.5px' /> %3Ccircle cx='584.5px' cy='213.5px' /> %3Ccircle cx='542.5px' cy='269.5px' /> %3Ccircle cx='542.5px' cy='437.5px' /> %3Ccircle cx='528.5px' cy='185.5px' /> %3Ccircle cx='521.5px' cy='507.5px' /> %3Ccircle cx='507.5px' cy='3.5px' /> %3Ccircle cx='465.5px' cy='143.5px' /> %3Ccircle cx='451.5px' cy='199.5px' /> %3Ccircle cx='444.5px' cy='241.5px' /> %3Ccircle cx='73.5px' cy='129.5px' /> %3Ccircle cx='416.5px' cy='549.5px' /> %3Ccircle cx='402.5px' cy='325.5px' /> %3Ccircle cx='402.5px' cy='73.5px' /> %3Ccircle cx='388.5px' cy='129.5px' /> %3Ccircle cx='374.5px' cy='213.5px' /> %3Ccircle cx='255.5px' cy='283.5px' /> %3Ccircle cx='248.5px' cy='437.5px' /> %3Ccircle cx='241.5px' cy='199.5px' /> %3Ccircle cx='220.5px' cy='129.5px' /> %3Ccircle cx='220.5px' cy='409.5px' /> %3Ccircle cx='206.5px' cy='493.5px' /> %3Ccircle cx='206.5px' cy='381.5px' /> %3Ccircle cx='164.5px' cy='199.5px' /> %3Ccircle cx='129.5px' cy='395.5px' /> %3Ccircle cx='108.5px' cy='297.5px' /> %3Ccircle cx='94.5px' cy='45.5px' /> %3Ccircle cx='66.5px' cy='521.5px' /> %3Ccircle cx='66.5px' cy='409.5px' /> %3Ccircle cx='87.5px' cy='479.5px' /> %3Ccircle cx='38.5px' cy='262.5px' /> %3Ccircle cx='38.5px' cy='325.5px' /> %3Ccircle cx='192.5px' cy='17.5px' /> %3Ccircle cx='31.5px' cy='451.5px' /> %3Ccircle cx='24.5px' cy='45.5px' />   %3C/g>%3C/svg>");
  background-size: 640px 480px, 480px 360px, 256px 192px;
  --snowfall-pos-x: 0;
  --snowfall-pos-y: 0;
  background-repeat: repeat;
  background-position: 0 0;
}

/* no-op condition for scoping */
html::after {
  animation: snowfall-no-composition 1920s linear infinite;
}

@keyframes snowfall-no-composition {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  0.625% {
    background-position: -12px 480px, -9px 360px, -4.8px 192px;
  }
  33.3333333333% {
    background-position: -640px 25600px, -480px 19200px, -256px 10240px;
  }
  100% {
    background-position: -1920px 76800px, -1440px 57600px, -768px 30720px;
  }
}
@supports (animation-composition: replace, add, add) {
  /**/
  html::after {
    animation: snowfall-x 640s linear infinite, snowfall-y 12s linear infinite, snowfall-x-wobble-1 8s cubic-bezier(0.35, 0, 0.65, 0.99) infinite, snowfall-x-wobble-2 8s cubic-bezier(0.35, 0, 0.65, 0.99) infinite;
    animation-composition: replace, add, add, add;
    animation-delay: 0s, 0s, 0s, 0.23s;
  }
}
@keyframes snowfall-y {
  from {
    background-position: 0 0, 0 0, 0 0;
  }
  to {
    background-position: 0 480px, 0 360px, 0 192px;
  }
}
@keyframes snowfall-x {
  from {
    background-position: 0 0, 0 0, 0 0;
  }
  to {
    background-position: -640px 0, -480px 0, -256px 0;
  }
}
@keyframes snowfall-x-wobble-1 {
  0% {
    background-position: 16px 0;
  }
  50% {
    background-position: -16px 0;
  }
  100% {
    background-position: 16px 0;
  }
}
@keyframes snowfall-x-wobble-2 {
  0% {
    background-position: 0 0, 12px 0;
  }
  50% {
    background-position: 0 0, -12px 0;
  }
  100% {
    background-position: 0 0, 12px 0;
  }
}
@keyframes snowfall-x-wobble {
  0% {
    background-position: 16px 0, 12px 0, 6.4px 0;
  }
  50% {
    background-position: -16px 0, -12px 0, -6.4px 0;
  }
  100% {
    background-position: 16px 0, 12px 0, 6.4px 0;
  }
}
/* theming */
html {
  background: #223232;
  color: #FFF;
  font-family: Calibri, sans-serif;
  padding: 2em;
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  background: #223232;
  border: 1em solid #222;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

ul > li {
  margin: 1em 0;
}

a:link {
  color: #7AF;
}

a:visited {
  color: #C5F;
}

pre {
  padding: 0.5em;
  border: 1px solid #222;
  margin: 1em 2em;
}

section + section {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #222;
}/*# sourceMappingURL=specials.css.map */